@import "../utils/variables";

#home {
  display: flex;
  flex-direction: column;

  .header {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 3rem;
    }

    .linkWrapper {
      display: flex;
      gap: 1rem;
    }
  }

  .home-content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      text-transform: uppercase;
      font-size: 5rem;
      display: flex;
    }
  }
}

@media (max-width: 480px) {
  #home {
    .home-content {
      .title {
        font-size: 3rem;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #home {
    .home-content {
      .title {
        font-size: 4rem;
      }
    }
  }
}
