@import "../utils/variables";

#roadmap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 100%;
    padding: 2rem;
    height: fit-content;
    max-width: 1260px;
  }

  .wrapper.main {
    width: 80%;
  }
}

#roadmap-element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .stack {
    font-size: 1.1rem;
  };
}

.section-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem;
  border-radius: 5px;
  .title {
    font-size: 2.5rem;
  }
}

.content {
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
  color: $baseColor;
  span {
    color: $baseColor;
  }
}

@media (max-width: 480px) {
  #roadmap {
    .wrapper {
      padding: 1rem;
      width: 100% !important;
    }

    .section-text-wrapper {
      gap: 1.8rem;

      .title {
        font-size: 1.7rem;
      }

      .content {
        font-size: 0.8rem;
      }
    }
  }

  #roadmap-element {
    .stack {
      font-size: 0.9rem;
    };
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #roadmap {
    .section-text-wrapper {
      gap: 2rem;
      padding: 0;

      .title {
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #roadmap {
    .section-text-wrapper {
      gap: 3rem;
      padding: 0;

      .title {
        font-size: 3.5rem;
      }

      .content {
        font-size: 1.5rem;
      }
    }
  }

  #roadmap-element {
    .stack {
      font-size: 2rem;
    };
  }
}

/*@keyframes do-levitation {
  0% {
    transform: translate(0, 0);
    background-color: red;
  }
  100% {
    transform: translate(-0.5em, -0.5em);
    background-color: blue;
  }
}

.levitate {
  animation: do-levitation 1.2s alternate ease-in-out infinite;
}*/
