@import "utils/variables";
@import "icon";
@import "components/button";
@import "components/glitch";
@import "section/home";
@import "section/roadmap";
@import "footer";

/*
  Medias Queries :

  320px - 480px: Mobile devices
  481px - 768px: iPads, Tablets
  769px - 1024px: Small screens, laptops
  1025px - 1200px: Desktops, large screens
  1201px and more - Extra large screens, TV
*/

html, body {
  background: $gray-darkest;
  color: $baseColor;
  font-family: $fontRegular;
  margin: 0;
}

.font-extra-bold {
  font-family: $fontExtraBold, sans-serif;
}

.font-bold {
  font-family: $fontBold, sans-serif;
}

.colored {
  color: $secondaryColor !important;
}

.no-scroll{
  overflow: hidden;
}

section {
  min-height: 100vh;
  position: relative;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#loader-wrapper {
  background-color: $gray-darkest;
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  &.hide {
    animation: hideMe 1s forwards;
  }

  @keyframes hideMe{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      z-index: -1;
    }
  }
}

.html-wrapper {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

#separator {
  background-color: $gray-darkest;
}
