@import "utils/variables";
@import "icon";
@import "components/button";
@import "components/glitch";
@import "section/home";
@import "section/roadmap";
@import "footer";

html, body {
  background: $gray-darkest;
  color: $baseColor;
  font-family: $fontRegular;
  margin: 0;
}

.font-extra-bold {
  font-family: $fontExtraBold, sans-serif;
}

.font-bold {
  font-family: $fontBold, sans-serif;
}

.colored {
  color: $secondaryColor !important;
}

section {
  min-height: 100vh;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.html-wrapper {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

#separator {
  background-color: $gray-darkest;
}
