@font-face {
  font-family: MontserratRegular;
  src: url('/static/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: MontserratExtraBold;
  src: url('/static/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: MontserratBold;
  src: url('/static/fonts/Montserrat-Bold.ttf');
}

/*--rtfkt-gray-darkest: #1c1d23;
--rtfkt-gray-100: #f8f9fa;
--rtfkt-gray-200: #e9ecef;
--rtfkt-gray-300: #dee2e6;
--rtfkt-gray-400: #ced4da;
--rtfkt-gray-500: #b5b5b8;
--rtfkt-gray-600: #6c757d;
--rtfkt-gray-700: #272932;
--rtfkt-gray-800: #1f2028;
--rtfkt-gray-900: #1c1d23;*/

html, body {
  background: #1c1d23;
  color: #F4EEEA;
  font-family: MontserratRegular, sans-serif;
  margin: 0;
}

body {
  min-height: 100vh;
}

.font-extra-bold {
  font-family: MontserratExtraBold, sans-serif;
}

.font-bold {
  font-family: MontserratBold, sans-serif;
}

.colored {
  color: #cc00ff !important;
}

section {
  height: 100vh;
}

#identity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#identity .wrapper {
  width: 85%;
  padding: 2rem;
  height: fit-content;
}

.section-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #1f2028;
  padding: 2rem;
  border-radius: 5px;
}

/*.section-text-wrapper:after {
    content: "";
    width: 15%;
    height: 6px;
    border-radius: 10px;
    background: #cc00ff;
}*/

.section-text-wrapper .title {
  font-size: 2.5rem;
}

.content {
  text-align: justify;
  line-height: 1.5;
  font-size: 1rem;
  color: #F4EEEA;}

.content span {
  color: #F4EEEA;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.button-discord {
  padding: 1rem;
  cursor: pointer;
  color: #F4EEEA !important;
  background: #1c1d23;
  border-radius: 3px;
  transition: 500ms ease-in-out;
  width: fit-content;
}

.button-discord:hover {
  box-shadow: 15px 5px 0 #cc00ff, -15px -5px 0 #cc00ff;
}

.button-discord:focus {
  outline: none;
}
