@font-face {
  font-family: MontserratRegular;
  src: url('/static/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: MontserratExtraBold;
    src: url('/static/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('/static/fonts/Montserrat-Bold.ttf');
}

html, body {
    background: black;
    color: #F4EEEA;
    font-family: MontserratRegular, sans-serif;
    overflow: hidden;
}

body {
    margin: 0;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.title {
    font-size: 4rem;
    font-family: MontserratExtraBold, sans-serif;
}

.colored {
    color: #cc00ff;
}

.linkWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}

.comingSoon{
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    font-family: MontserratExtraBold, sans-serif;
    padding: 0 2rem;
}

.footer{
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    font-family: MontserratExtraBold, sans-serif;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.footer .icon {
    height: 2rem;
    width: 2rem;
    padding: 0 2rem;
    cursor: pointer;
}

.footer .icon img {
    width: 100%;
}

.linkWrapper .icon {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.icon:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: scale(1.2) translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: scale(1.2) translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: scale(1.2) translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: scale(1.2) translate3d(-2px, 0, 0);
    }
    40%, 60% {
        transform: scale(1.2) translate3d(2px, 0, 0);
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 3rem;
    }

    .comingSoon{
        font-size: 1rem;
        padding: 0 1rem;
    }

    .footer{
        padding: 1rem 0;
    }

    .footer .icon {
        padding: 0 1rem;
    }

    .icon:hover {
        animation: none;
        transform: none;
        perspective: none;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: 2rem;
    }

    .linkWrapper .icon {
        height: 1.5rem;
        width: 1.5rem;
        padding: 0.5rem;
    }

    .linkWrapper{
        gap: 1.5rem;
    }
}
